.table-row {
    display: flex;
    
    tr {
        display: flex;

        td{
            padding: 20px;
            border: 1px solid black;
            
            img {
                height: 15px;
                width: 15px;
            }
        }
        
    }
}